 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Quicksand&display=swap');


 html {
   scroll-behavior: smooth;
   overflow-x: hidden;

 }

 body {
   background-color: black;
   font-family: 'Open Sans';
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
   max-width: 100%;
   box-sizing: border-box;
   overflow-x: hidden;
 }


 .navbar {
   display: flex;
   justify-content: space-between;
   background-color: black;

   align-items: center;
   width: 100%;
   height: 12vh;
   position: sticky;
   top: 0%;
   left: 0%;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   z-index: 999;
 }

 .hamburger {
   /* border: 1px solid red; */
   width: 15%;
   /* margin-left: 85%; */
   height: 100%;
   display: none;
 }

 .cancel {
   /* border: 1px solid red; */
   /* width: 15%; */
   /* margin-left: 85%; */
   width: 100%;
   height: 100%;
   display: none;
 }

 .img-div {
   /* background-color: rgb(17, 17, 17); */
   width: 5%;
   /* height: 100%; */
   margin-left: 3%;
   border-radius: 50%;
   border: 1px solid gray;
   box-shadow:
     inset 0 0 50px rgb(255, 254, 254),
     /* inner white */
     inset 20px 0 80px rgb(216, 210, 216),
     /* inner left magenta short */
     inset -20px 0 80px rgb(219, 220, 220),
     /* inner right cyan short */
     inset 20px 0 300px rgb(186, 184, 186),
     /* inner left magenta broad */
     inset -20px 0 300px #0ff,
     /* inner right cyan broad */
     0 0 0px rgb(31, 30, 30),
     /* outer white */
     -5px 0 5px rgb(16, 16, 16),
     /* outer left magenta */
     2px 0 5px rgb(40, 41, 41);
   /* text-align: center; */
   display: flex;
   /* align-items: center; */

 }

 .logo-img {
   width: 100%;

   border-radius: 50%;
   height: 100%;

 }

 .stack {
   /* background-color: rgb(17, 17, 17); */
   margin-right: 5%;
   display: flex;
   width: 35%;
   height: 90%;
   color: gray;
   justify-content: space-between;
   align-items: center;
 }

 .stack>a {
   color: white;
   /* background-color:whitesmoke; */
   text-shadow: 2px 2px 8px #f3f1f1;
   /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
   display: flex;
   background-color: teal;
   font-size: 100%;
   text-decoration: none;
   align-items: center;
   justify-content: center;
   width: 18%;
   height: 60%;
   /* border-radius: 15px; */
 }



 .stack a:hover {
   background-color: white;
   color: black;
   /* color: white; */
 }

 .anchor1 {
   animation: bounce-up 2s;
 }

 .anchor2 {
   animation: bounce-up 2.5s 0.2s;
 }

 .anchor3 {
   animation: bounce-up 2.5s 0.4s;
 }

 .anchor4 {
   animation: bounce-up 2.5s 0.6s;
 }

 .anchor5 {
   animation: bounce-up 2.5s 0.8s;

 }

 .card {
   width: 100%;

   /* border: 1px solid red; */

 }

 .section {
   display: block;
   position: relative;
   top: 11vh;
   /* border: 1px solid green; */
   color: white;
   padding: 2%;
 }

 .home {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100%;
   width: 100%;
   /* border: 1px solid red; */
   margin-top: -5%;
 }

 .image-section {
   width: 30%;
   /* border: 1px solid red; */
   height: 70%;
   border-radius: 50%;
   animation: slide-left 1.5s;

 }

 .image-section img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
 }

 .about-section {
   /* border: 1px solid red; */
   width: 40%;
   animation: slide-right 1.5s;
   color: rgb(254, 250, 250);
   text-shadow: 2px 2px 8px #f3f1f1;
 }

 .skills-section {
   /* width: 95%; */
   /* height: 90%; */
   color: rgb(254, 250, 250);
   text-shadow: 0 0 3px #f8f2f2;
 }

 .skills-section {
   text-align: center;
   margin-top: 8%;
   /* border: 1px solid teal; */
 }

 .skills {
   /* background-color: white; */
   /* border: 1px solid red; */
   width: 80%;
   margin: auto;
   height: 460px;
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 4%;
   row-gap: 2%;
   padding: 5%;
   /* margin-top: 3%; */
   animation: slide-up 1s;
 }

 .skills div {

   width: 15%;
   height: 35%;
   border-radius: 15px;
   box-shadow:
     inset 0 0 50px rgb(38, 37, 37),
     /* inner white */
     inset 20px 0 80px rgb(12, 12, 12),
     /* inner left magenta short */
     inset -20px 0 80px rgb(19, 19, 19),
     /* inner right cyan short */
     inset 20px 0 300px rgb(36, 35, 35),
     /* inner left magenta broad */
     inset -20px 0 300px rgb(9, 9, 9),
     /* inner right cyan broad */
     1px 1px 1px rgb(253, 251, 251),
     /* outer white */
     1px 1px 1px rgb(253, 250, 250),
     /* outer left magenta */
     1px 1px 1px rgb(246, 244, 244);
   text-align: center;
   transition: 0.5s;
 }

 .skills div:hover {
   transform: scale(1.3);
   z-index: 2;
   cursor: pointer;
 }

 .img {
   width: 70%;
   height: 50%;
   margin-top: 16%;


 }

 .skills div h4 {
   width: 90%;
   margin: auto;
   color: white;

 }

 .projects-section {
   /* border: 1px solid red; */
   text-align: center;
   margin-top: 5%;
   width: 100%;
 }

 .projects-container {
   width: 100%;
   display: flex;
   justify-content: space-between; 
    align-items: center;

 }

 .project-div {
   animation: slide-up 1s;
   width: 30%;
   padding: 1%;
   display: block;
   font-size: 80%;
   box-shadow: #32325d40 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .project-div img {
   width: 100%;

 }
 .project-div .live-button{
  width: 100%;
   color:  white;
   height: 40px;
   /* border: 1px solid red; */
   display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .live-button a{
  background-color: teal;
  display: inline-block;
   text-decoration: none;
   width: 30%;
   height: 100%;
   text-decoration: none;
   color:white;
   align-items: center;
   display: flex;
   justify-content: center;
 }
 .live-button a:hover{
  background-color: white;
  display: inline-block;
   text-decoration: none;
   width: 30%;
   height: 100%;
   text-decoration: none;
   color:black;
   align-items: center;
   display: flex;
   justify-content: center;
 }

 .github-section {
   width: 90%;
   margin: auto;
   margin-top: 12%;
   /* border: 1px solid rgb(95, 91, 91); */
   text-align: center;
   color: white;
   padding: 2%;
 }

 .github-section h3 {
   width: 15%;
   /* border: 1px solid rgb(95, 91, 91); */
   margin: auto;
 }

 .github {
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* border: 1px solid rgb(95, 91, 91); */
   margin: auto;
   margin-top: 6%;
 }

 .github-stats {
   width: 50%;
   margin: auto;
   margin-top: 12%;
   /* border: 1px solid rgb(95, 91, 91); */
 }

 .contact-section {
   /* border: 1px solid rgb(103, 99, 99); */
   text-align: center;
 }

 .contact-child {
   width: 50%;
   height: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border: 1px solid red; */
   /* color: aliceblue; */
   margin: auto;
 }

 .contact-child div {
   width: 20%;
   /* border: 1px solid red; */
   height: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border-radius: 48%; */
   text-decoration: none;
   color: gray;
 }

 .contact-child div a {
   width: 100%;
   height: 80%;
   text-decoration: none;
   color: white;
   /* border-radius: 45%; */
 }

 .contact-child div a div:hover {
   background-color: #fff;

   box-shadow: 10px 10px 10px 10px rgb(158, 150, 150);
 }

 .contact-child div a div {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border-radius: 45%; */
 }

 .hc {
   display: none;
   margin-right: 4%;
 }

 @keyframes slide-left {
   0% {
     transform: translateX(-100%);
   }

   100% {
     transform: translateX(0%);
   }
 }

 @keyframes slide-right {
   0% {
     transform: translateX(100%);
   }

   100% {
     transform: translateX(0%);
   }
 }

 @keyframes slide-up {
   0% {
     transform: translateY(100%);
   }

   100% {
     transform: translateY(0%);
   }
 }

 @keyframes bounce-up {
   0% {
     transform: translateY(-200%);
   }

   25% {
     transform: translateY(100%);
   }

   50% {
     transform: translateY(-50%);
   }

   100% {
     transform: translateY(0%);
   }
 }

 @keyframes rotate-left {
   0% {
     transform: rotateX('angle', 0)
   }

   100% {
     transform: rotateX('angle', 360)
   }
 }




 @media screen and (min-width: 360px) and (max-width:576px) {
 

   .img-div {
     width: 15%;
     /* border: 1px solid red; */
   }

   .hc {
     display: flex;
     width: 10%;
     /* border: 1px solid red; */
     height: 100%;
   }

   .stack {
     display: none;

   }

   #cancel3 {
     display: none;
   }

   .hamburger {
     display: flex;
     /* border: 1px solid red; */
     width: 100%;
   }

   #hamburger2 {
     display: flex;
     width: 100%;
   }

   #hamburger3 {
     display: none;
   }

   #cancel2 {
     display: flex;
     width: 100%;
     /* margin-left: 60%; */
     color: #fff;
     height: 100%;
     /* border: 1px solid red; */
   }

   #stack2 {
     display: flex;
     position: sticky;
     position: absolute;
     height: 200px;
     width: 95%;
     padding-left: 20px;
     padding-right: 20px;
     /* border: 1px solid red; */
     top: 100%;
     /* margin-top: 180px; */
     /* margin-left:70% ; */
     /* left: 70%; */
     flex-direction: column;
     align-items: center;
     justify-content: center;
     z-index: 999;
     row-gap: 5%;
     background-color: black;
     text-decoration: none;

   }

   #stack2>a {
     /* color: white; */
     text-shadow: 2px 2px 8px #f3f1f1;
     display: flex;
     font-size: 100%;
     text-decoration: none;
     align-items: center;
     justify-content: center;
     width: 20%;
     height: 20%;
     margin: auto;
   }

   .navbar {
     height: 10vh;
     /* border: 1px solid red; */
   }

   .home {
     display: block;
     width: 95%;
   }

   .image-section {
     width: 80%;
     margin: auto;
   }

   .about-section {
     width: 95%;
     margin: auto;
     font-size: 80%;
   }
   .about-section p{
    font-size: 120%;
   }

   .skills-section {
     /* border: 1px solid red; */
     width: 95%;
   }

   .skills {
     /* border: 1px solid red; */
     width: 90%;
   }

   .skills>div {
     width: 30%;
     align-items: center;
     height: 30%;
     gap: 1%;
   }

   .projects-section {
     width: 95%;
   }

   .projects-container {
     /* border: 1px solid red; */
     display: block;

   }

   .project-div {
     width: 90%;
     margin: auto;
     margin-top: 5%;
     padding: 2%;
     /* border: 1px solid red; */
   }

.project-div p{
  /* border: 1px solid red; */
  padding: 2%;
}
   .github-section {
     margin-top: 24%;
     /* border: 1px solid green; */
     text-align: center;
     width: 95%;
   }

   .github {
     /* border: 1px solid blue; */


     display: flex;
     justify-content: center;
     align-items: center;
     width: 95%;
   }

  

   
   .github-stats {
     /* border: 1px solid purple; */
     width: 95%;
     margin: auto;
   }

   .github-stats img {
     width: 100%;

   }

   .contact-section {
     /* border: 1px solid red; */
     height: 50vh;
   }

   .contact-child {
     /* border: 1px solid green; */
     height: 60%;
     width: 100%;
   }
 }

 @media screen and (min-width: 576px) and (max-width:768px) {
  .img-div {
    width: 15%;
    /* border: 1px solid red; */
  }

  .hc {
    display: flex;
    width: 10%;
    /* border: 1px solid red; */
    height: 100%;
  }

  .stack {
    display: none;

  }

  #cancel3 {
    display: none;
  }

  .hamburger {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
  }

  #hamburger2 {
    display: flex;
    width: 100%;
  }

  #hamburger3 {
    display: none;
  }

  #cancel2 {
    display: flex;
    width: 100%;
    /* margin-left: 60%; */
    color: #fff;
    height: 100%;
    /* border: 1px solid red; */
  }

  #stack2 {
    display: flex;
    position: sticky;
    position: absolute;
    height: 200px;
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid red; */
    top: 100%;
    /* margin-top: 180px; */
    /* margin-left:70% ; */
    /* left: 70%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    row-gap: 5%;
    background-color: black;
    text-decoration: none;

  }

  #stack2>a {
    /* color: white; */
    text-shadow: 2px 2px 8px #f3f1f1;
    display: flex;
    font-size: 100%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    margin: auto;
  }

  .navbar {
    height: 10vh;
    /* border: 1px solid red; */
  }

  .home {
    display: block;
    width: 95%;
  }

  .image-section {
    width: 80%;
    margin: auto;
  }

  .about-section {
    width: 95%;
    margin: auto;
    font-size: 80%;
  }
  .about-section p{
   font-size: 120%;
  }

  .skills-section {
    /* border: 1px solid red; */
    width: 95%;
  }

  .skills {
    /* border: 1px solid red; */
    width: 90%;
  }

  .skills>div {
    width: 30%;
    align-items: center;
    height: 30%;
    gap: 1%;
  }

  .projects-section {
    width: 95%;
  }

  .projects-container {
    /* border: 1px solid red; */
    display: block;

  }

  .project-div {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    /* border: 1px solid red; */
  }

.project-div p{
 /* border: 1px solid red; */
 padding: 2%;
}
  .github-section {
    margin-top: 24%;
    /* border: 1px solid green; */
    text-align: center;
    width: 95%;
  }

  .github {
    /* border: 1px solid blue; */


    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }

 

  
  .github-stats {
    /* border: 1px solid purple; */
    width: 95%;
    margin: auto;
  }

  .github-stats img {
    width: 100%;

  }

  .contact-section {
    /* border: 1px solid red; */
    height: 50vh;
  }

  .contact-child {
    /* border: 1px solid green; */
    height: 60%;
    width: 100%;
  }
 }

 @media screen and (min-width: 768px) and (max-width:992px) {
  .img-div {
    width: 10%;
    /* border: 1px solid red; */
  }

  .stack a {
    color: white;
    background-color: teal;
   height: 50%;
  }
  .stack a:hover {
    color: black;
   background-color: white;
   height: 50%;
  }

  .navbar {
    height: 8vh;
    /* border: 1px solid red; */
  }
  .stack{
    width: 50%;
  }

  .home {
    display: flex;
    width: 95%;
  }

  .image-section {
    width: 45%;
    margin: auto;
  }

  .about-section {
    width: 45%;
    margin: auto;
    font-size: 80%;
  }
  .about-section p{
   font-size: 120%;
  }

  .skills-section {
    /* border: 1px solid red; */
    width: 95%;
  }

  .skills {
    /* border: 1px solid red; */
    width: 90%;
  }

  .skills>div {
    width: 30%;
    align-items: center;
    height: 30%;
    gap: 1%;
  }

  .projects-section {
    width: 95%;
  }

  .projects-container {
    /* border: 1px solid red; */
    display:flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    row-gap: 1%;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
   /* gap: 2%; */
  }

.project-div{
  /* border: 1px solid red; */
  width: 45%;
}

.project-div p{
 /* border: 1px solid red; */
 padding: 2%;
}
  .github-section {
    margin-top: 24%;
    /* border: 1px solid green; */
    text-align: center;
    width: 80%;
  }

  .github {
    /* border: 1px solid blue; */


    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

 

  
  .github-stats {
    /* border: 1px solid purple; */
    width: 60%;
    margin: auto;
  }

  .github-stats img {
    width: 100%;

  }

  .contact-section {
    /* border: 1px solid red; */
    height: 50vh;
  }

  .contact-child {
    /* border: 1px solid green; */
    height: 60%;
    width: 100%;
  }
 }

